@model Hangman.Web.Models.StatisticsPlayGameModel

<table border="1">
    <tr>
        <th>Won</th>
        <th>Lost</th>
        <th>LettersGussed</th>
        <th>WordsGussed</th>
    </tr>
    <tr>
        <td id="won">@Model.UserScore.Won</td>
        <td id="lost">@Model.UserScore.Lost</td>
        <td id="lettersGussed">@Model.UserScore.LettersGussed</td>
        <td id="wordsGussed">@Model.UserScore.WordsGussed</td>
    </tr>
</table>
<br />
<br />
<input type="text" name="query" />
<input type="submit" value="Guess" />
<div id="word-container">
    @Html.Partial("_GameVisualization", Model.GamePlayState)
</div>

<script>
    $('input[type="submit"]').on("click", function () {
        var currentGuess = $('input[type="text"]').val();
        var url = window.location.href;
        var gameId = parseInt(url.substring(url.lastIndexOf('/') + 1));
        $.ajax({
            type: "POST",
            url: "/Game/Guess",
            data: {
                gameId: gameId,
                letters: currentGuess,
                movesLeft: movesLeft
            },
            success: function (reponse) {
                ('#word-container').html(reponse);
                if (response.indexOf('Win')) {
                    var wonText = parseInt($('#won').text()) + 1;
                    $('#won').text(wonText);

                    if (response.indexOf('Not')) {
                        var lettersGussedText = parseInt($('#lettersGussed').text()) + 1;
                        $('#won').text(lettersGussedText);
                    }
                    else {
                        var wordsGussedText = parseInt($('#wordsGussed').text()) + 1;
                        $('#won').text(wordsGussedText);
                    }
                }
                if (response.indexOf('Loose')) {
                    var looseText = parseInt($('#lost').text()) + 1;
                    $('#lost').text(looseText);
                }
            }
        });
    });
</script>