@model Hangman.Web.Models.StatisticsPlayGameModel

<table border="1">
    <tr>
        <th>Won</th>
        <th>Lost</th>
        <th>LettersGussed</th>
        <th>WordsGussed</th>
    </tr>
    <tr>
        <td>@Model.UserScore.Won</td>
        <td>@Model.UserScore.Lost</td>
        <td>@Model.UserScore.LettersGussed</td>
        <td>@Model.UserScore.WordsGussed</td>
    </tr>
</table>
<br />
<br />

<input type="text" name="query" />
<input type="submit" value="Guess" />

<script>
    $('input[type="submit"]').on("click", function () {
        var currentGuess = $('input[type="text"]').val();
        var url = window.location.href;
        var gameId = parseInt(url.substring(url.lastIndexOf('/') + 1));
        var movesLeft = parseInt($('#movesLeft').text());
        $.ajax({
            type: "POST",
            url: "/Game/Guess",
            data: {
                gameId: gameId,
                letters: currentGuess,
                movesLeft: movesLeft
            },
            success: function (reponse) {
                ('#word-container').html(reponse);
            }
        });
    });
</script>
<div id="word-container">
    @Html.Partial("_GameVisualization", Model.GamePlayState)
</div>