@model Hangman.Web.Models.StatisticsPlayGameModel

<table border="1">
    <tr>
        <th>Won</th>
        <th>Lost</th>
        <th>LettersGussed</th>
        <th>WordsGussed</th>
    </tr>
    <tr>
        <td id="won">@Model.UserScore.Won</td>
        <td id="lost">@Model.UserScore.Lost</td>
        <td id="lettersGussed">@Model.UserScore.LettersGussed</td>
        <td id="wordsGussed">@Model.UserScore.WordsGussed</td>
    </tr>
</table>
<br />
<br />
<input type="text" name="query" />
<input type="submit" value="Guess" />
<span id="wrongInputMessage">You should use only letters!</span>
<div id="word-container">
    @Html.Partial("_GameVisualization", Model.GamePlayState)
</div>

<script>
    $('input[type="submit"]').on("click", function () {
        var currentGuess = $('input[type="text"]').val();
        var url = window.location.href;
        var gameId = parseInt(url.substring(url.lastIndexOf('/') + 1));
        var currentLettersGuessedCount = lettersGuessedCount();
        var useOnlyLetters = /^[a-z]+$/i;

        if (useOnlyLetters.test(currentGuess)) {
            $.ajax({
                type: "POST",
                url: "/Game/Guess",
                data: {
                    gameId: gameId,
                    letters: currentGuess
                },
                success: function (response) {
                    $('input[type="text"]').val('');
                    $('#word-container').html(response);
                    if (response.indexOf('ImageWinWholeWord') > -1) {
                        scoreUpdate('#won');
                        scoreUpdate('#wordsGussed');
                        disableSubmitButton();
                    }
                    var updatedLettersGuessedCount = lettersGuessedCount();

                    //changed if due to wrong whole word update of guessed letters appears
                    if (updatedLettersGuessedCount != currentLettersGuessedCount
                                && response.indexOf('ImageWinWholeWord') == -1
                                && response.indexOf('ImageWinNotWholeWord') == -1
                                && response.indexOf('ImageLoose') == -1) {
                        updateGuessedLetters();
                    }

                    if (response.indexOf('ImageWinNotWholeWord') > -1) {
                        var updatedLettersGuessedCountWin = lettersGuessedCount();

                        if (updatedLettersGuessedCountWin != currentLettersGuessedCount) {
                            updateGuessedLetters();
                        }
                        scoreUpdate('#won');
                        disableSubmitButton();
                    }
                    if (response.indexOf('ImageLoose') > -1) {
                        scoreUpdate('#lost');
                        disableSubmitButton();
                    }
                }
            });
        } else {
            $('#wrongInputMessage').fadeIn(2000);
            $('#wrongInputMessage').fadeOut(3000);
        }
    });
    function updateGuessedLetters() {
        var lettersGussedText = parseInt($('#lettersGussed').text()) + 1;
        $('#lettersGussed').text(lettersGussedText);
    };
    function disableSubmitButton() {
        $('input[type="submit"]').attr('disabled', 'disabled');
    };
    function lettersGuessedCount() {
        return ($('#currentwordstate').text().match(/_/g) || []).length;
    }
    function scoreUpdate(selector) {
        let currentText = parseInt($(selector).text()) + 1;
        $(selector).text(currentText);
    }
</script>